
# Example config file
# $Id$

# backup allows 4 settings:
#  copy,move - backups are always made
#  move - make backup only if starting file from beggining (move old file)
#  copy - make backup only if continuing partially-downloaded file (copy old)
#  none - backups are never made
backup = move

# for file FILE_NAME.EXT by default backups will be named as:
# FILE_NAME-{N}.EXT where {N} is 1, 2, 3...
# name backups as: FILE_NAME.EXT~{N}
backup_suf = ~

# start http server on port 5666 (won't be started by default or if port is 0),
# make sure the port is blocked in the firewall, as rsget.pl has no
# authentification
http_port = 5666

# if you are blessed with multiple interfaces:
#interfaces = eth0, tun0, tun1
# same thing for multiple IP addresses:
#interfaces = 1.1.1.1, 1.1.1.2, 1.1.1.3

# if your vim stores swap files in different directory and you want list
# file locking:
#list_lock = /path/to/swaps/.${file}.swp
# list will be manipulated by some external app which creates .lock file
# in the same directory as list file:
#list_lock = ${dir}/.lock

# store unfinished files in "partial" directory
workdir = partial

# move finished downloads to "done"
outdir = done

# update automatically from SVN (possibly dangerous, but very convenient):
#use_svn = update

# save erroneous pages (only useful for getter debugging):
#errorlog = 1

# be verbose (useful for debugging):
#verbose = 2
